@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>ASP.NET Scalable Container</h2>
        <p>
            Scale this instance of code with Docker Swarm!
        </p>
    </div>
</div>
